---
layout: default
title: Business Operations
---

{% assign last_update = site.data.update_dates | where_exp: "last_update", "last_update.Department =='Business Operations'" | map: "Last Update" %}

<div class="update">
    Last update:&nbsp;<span id="last_update_date2">{{last_update}}</span>
</div>

    {% assign groups = site.data.business_operations | map :"Group" | uniq %}

    {% for g in groups %}
        <h4>{{ g }}</h4>
        <div class="row">
            {% assign items_in_group = site.data.business_operations | where_exp: "item", "item.Group == g"%}
            {% for item in items_in_group  %}
                {% include scorecard.html icon = item.Icon metric = item.Metric value=item.Total period=item.Period color = item.Color%}
            {% endfor %}
        </div>
    {% endfor %}
