---
layout: default
title: Data Science Services
---
{% include templates.html %}

<!-- FIXME: FY24 should be parameterized eventually based on the latest year of data availableK -->
<h3>Overview FY24</h3>
<div id="dssOverview" class="row"></div>

<h3 id="consulting_services">Help requests</h3>
<div class="row">
    {% include card-d3.html grid_class = "col-md-6" title = "Total number of Help requests" div = "totalNumHelpRequests" %}
    {% include card-d3.html grid_class = "col-md-6" title = "Help Requests by Department (FY21 - FY24)" div = "helpRequestsByDepartment" %}
    {% include card-d3.html grid_class = "col-md-6" title = "Help Requests by Top 8 Departments Cumulatively" div = "helpRequestsByDepartmentCm" %}
    {% include card-d3.html grid_class = "col-md-6" title = "Help Requests by Type of Request (FY21 - FY24)" div = "helpRequestsByType" %}
</div>

<script src="{{site.baseurl}}assets/js/plot.js"></script>
<script src="{{site.baseurl}}assets/js/dss_plots.js"></script>