---
layout: default
title: Data Science Services
---

<h3 id="consulting_services">Consulting</h3>
<div class="row">
    {% include card-d3.html title = "Number of New Help Requests" div = "year_quarter" %}
    {% include card-d3.html title = "Cumulative Number of Requests (Top Users)" div = "timeseriesCommunity" %}
    {% include card-d3.html title = "Number of Help Requests by Affiliation" div = "patron_community" %}
    {% include card-d3.html title = "Number of Help Requests by Type" div = "request_type" %}
</div>

<h4 id="training_services">Training</h4>
<div class="row">
    {% include card-d3.html title = "Workshop Attendees" div = "workshopAttendance" %}
    {% include card-d3.html title = "Workshops Offered" div = "workshopNumber" %}
</div>

<h4 id="training_services">DataFest *)</h4>
<div class="row">
    {% include card-d3.html title = "DataFest Attendees" div = "dataFestAttendance" %}
    {% include card-d3.html title = "DataFest Workshops" div = "dataFestNumber" %}
    <p>*) DataFest is a collaborative effort with other units at Harvard</p>

</div>


<h4 id="training_services">Research Output (known to us)</h4>


<div class="row">
    {% include card-d3.html title = "Academic Publications" div = "resOutputDepts" %}
    {% include card-d3.html title = "Academic Publications" div = "resOutputYears" %}
</div>

<!-- <script src="https://d3plus.org/js/d3plus.js"></script> -->
<script src="{{site.baseurl}}assets/js/plot.js"></script>
<script src="{{site.baseurl}}assets/js/dss_plots.js"></script>