---
layout: home
title: IQSS Metrics
---


<div class="row">

    {% for item in site.data.navigation %}
        {%if item.link != "./" %} 

        
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
            <div class="card card-primary">
                <div class="card-header card-header-image">
                    <img src="{{item.image}}"  
                        style = "opacity: 1;"
                        class="card-img-top card-image" alt="Image for {{item.name}}">
                           <!-- <span class="card-bg-icon">
                               <span class="fa fa-{{item.icon}} fa-6x " aria-hidden="true"></span>
                           </span> -->
                        <h1 class="card-img-title">
                           {{item.name}}
                        </h1>    

                </div>
                <!-- /.card-header -->
                <div class="card-body card-distribute-items" >
                                                               
                        <div>{{item.description | markdownify}}</div>
                        <a href="{{item.link}}" ><button class="btn btn btn-block btn-primary" >See {{item.name}} metrics</button>
                            </a>

            
                    
                </div>
                
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        
        {% endif %}
    {% endfor %}





   
  </div>
  