---
layout: default
title: IT Support
toplinks:
  - id: css
    name: CSS
  - id: lab
    name: IQSS Computer Labs
---
<!--{% include toplinks.html %}-->

<h2 id ="css">Client Support Services</h2>
<p>Client Support Services provides desktop and technological support to members of the IQSS community.</p>

<h3>Resolved Tickets</h3>

<div class="row">
    {% include card.html title = "Quarterly Resolved Tickets" div = "quarterly_tickets" %}
    {% include card.html title = "Resolved tickets" div = "tickets-by-subject" %}
    {% include card.html title = "Resolved Tickets by Month" div = "monthly_tickets" grid_class = "col-xl-12" %}
    {% include card.html title = "Resolved tickets" div = "tickets-by-device-type" %}
    {% include card.html title = "Patron Community" div = "patron-community-bar" %}

</div>

<h3>PC and Mac</h3>

<div class="row">
    {% include card.html title = "Tickets for PC and Mac by Type" div = "mac-pc-type" %}
    {% include card.html title = "Tickets for PC and Mac" div = "mac-pc-years" %}
</div>

<h2 id = "lab">IQSS Computer Labs</h2>
<p>IQSS hosts several computing labs and technology that are available for use by all members of the Harvard community.</p>

<h3>Lab tickets and Request</h3>

<div class="row">
    {% include card.html title = "Lab Requests" div = "lab_request_per_quarter" %}
    {% include card.html title = "Requests by Status" div = "lab_request_status" %}
    {% include card.html title = "Requests by Department" div = "lab_request_department" %}

    {% include card.html title = "Requests by School" div = "lab_request_school" %}
    {% include card.html title = "Reason for Lab Request" div = "lab_request_reason" %}
    {% include card.html title = "How did you hear from us?" div = "lab_request_discovery" %}
</div>

<script>
    path = "{{site.baseurl}}assets/data/"
</script>
<script src="{{site.baseurl}}assets/js/css_plots.js"></script>