---
layout: default
title: IT Support
toplinks:
  - id: css
    name: CSS
  - id: lab
    name: Computer Labs
---
{% include toplinks.html %}

<h2 id ="css">Client Support Services</h2>


<h3>Resolved Tickets</h3>
<div class="row">
    <div class="col-xl-6">
        <div class="card card-iqss-primary card-outline">
            <div class="card-header">
                <h3 class="card-title card-iqss-title">
                    Quarterly Resolved Tickets
                </h3>
            </div>
            <div class="card-body">
                <!-- <div class="year_quarter viz"></div> -->
                <canvas id="quarterly_tickets" class="viz"></canvas>
            </div>
        </div>
    </div>

    <div class="col-xl-6">

        <div class="card card-iqss-primary card-outline">
            <div class="card-header">
                <h3 class="card-title card-iqss-title">
                    Resolved tickets <span id="tickets-by-subject-period"></span>
                </h3>
            </div>
            <div class="card-body">
                <!-- <div class="year_quarter viz"></div> -->
                <canvas id="tickets-by-subject" class="viz"></canvas>
            </div>
        </div>
    </div>

    <div class="col-xl-12">

        <div class="card card-iqss-primary card-outline">
            <div class="card-header">
                <h3 class="card-title card-iqss-title">
                    Resolved Tickets by Month
                </h3>
            </div>
            <div class="card-body">
                <canvas id="monthly_tickets" class="viz"></canvas>

            </div>
        </div>
    </div>


    <div class="col-xl-6">

        <div class="card card-iqss-primary card-outline">
            <div class="card-header">
                <h3 class="card-title card-iqss-title">
                    Resolved tickets <span id="tickets-by-device-type-period"></span>
                </h3>
            </div>
            <div class="card-body">
                <canvas id="tickets-by-device-type" class="viz"></canvas>
            </div>
        </div>
    </div>


    <div class="col-xl-6">

        <div class="card card-iqss-primary card-outline">
            <div class="card-header">
                <h3 class="card-title card-iqss-title">
                   Patron Community <span id="patron-community-bar-period"></span>
                </h3>
            </div>
            <div class="card-body">
                <canvas id="patron-community-bar" class="viz"></canvas>
            </div>
        </div>
    </div>

    <div class="col-xl-6">

        <div class="card card-iqss-primary card-outline">
            <div class="card-header">
                <h3 class="card-title card-iqss-title">
                    Patron Community <span id="patron-community-pie-period"></span>
                </h3>
            </div>
            <div class="card-body">
                <canvas id="patron-community-pie" class="viz"></canvas>
            </div>
        </div>
    </div>
</div>



<h3>PC and Mac</h3>
<div class="row">
    <div class="col-xl-6">

        <div class="card card-iqss-primary card-outline">
            <div class="card-header">
                <h3 class="card-title card-iqss-title">
                    Tickets for PC and Mac by Type <span id="mac-pc-type-period"></span>
                </h3>
            </div>
            <div class="card-body">
                <canvas id="mac-pc-type" class="viz"></canvas>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card card-iqss-primary card-outline">
            <div class="card-header">
                <h3 class="card-title card-iqss-title">
                    Tickets for PC and Mac
                </h3>
            </div>
            <div class="card-body">
                <canvas id="mac-pc-years" class="viz"></canvas>
            </div>
        </div>
    </div>

</div>

<h2 id = "lab">Public Computer Lab</h2>

<h3>Lab tickets and Request</h3>



<div class="row">
    {% include card.html title = "Lab Requests" div = "lab_request_per_quarter" %}
    {% include card.html title = "Requests by Status" div = "lab_request_status" %}
    {% include card.html title = "Requests by Department" div = "lab_request_department" %}

    {% include card.html title = "Requests by School" div = "lab_request_school" %}
    {% include card.html title = "Reason for Lab Request" div = "lab_request_reason" %}
    {% include card.html title = "How did you hear from us?" div = "lab_request_discovery" %}
</div>

    <script>
        path = "{{site.baseurl}}assets/data/"
    </script>
    <script src="{{site.baseurl}}assets/js/css_plots.js"></script>