---
layout: default
title: Research Computing
---

<h3>Social science Research Computing in 2024</h3>
</p>
<div class="row">
    {% include card-d3.html grid_class = "col-md-6" title = "CPU hours consumed" div = "fassocrccpuxdept2024" %}
    {% include card-d3.html grid_class = "col-md-6" title = "GPU hours consumed" div = "fassocrcgpuxdept2024" %}
</div>

<div class="row">
    {% include card-d3.html grid_class = "col-md-6" title = "Compute jobs executed" div = "fassocrcexecxdept2024" %}
    {% include card-d3.html grid_class = "col-md-6" title = "Social science research computing PIs by department" div = "fasrcpisxdept2024" %}
</div>
<div class="row">
    {% include card-d3.html grid_class = "col-md-6" title = "Social science research computing users by department" div = "fasssrc2024" %}
</div>


<h3>Social science Research Computing usage across time</h3>

<div class="row">
    {% include card-d3.html grid_class = "col-md-6" title = "Social science research computing users by Department and Year" div = "fasrcsocresearcherxdeptxyear" %}
    {% include card-d3.html grid_class = "col-md-6" title = "CPU hours consumed by Department and Year" div = "fasrcsoccomptimexdeptxyear" %}
</div>


<script src="{{site.baseurl}}assets/js/plot.js"></script>
<script>
    path = "{{site.baseurl}}assets/data/"
</script>

<script src="{{site.baseurl}}assets/js/rc_plots.js"></script>