---
layout: default
title: Research Computing
---

<h3>RCE Interactive</h3>

<div class="row">
    {% include card.html title = "RCE Interactive Tier FAS Users by Department" div = "rc-interactive-by-department" %}
    {% include card.html title = "RCE Interactive Tier Users by School" div = "rc-interactive-by-school" %}
 </div>


<h3>RCE Batch</h3>

<div class="row">
    {% include card.html title = "RCE Batch Tier FAS Users by Department" div = "rc-batch-by-department" %}
    {% include card.html title = "RCE Batch Tier Users by School" div = "rc-batch-by-school" %}
</div>


<script src="{{site.baseurl}}assets/js/plot.js"></script>
<script>
    path = "{{site.baseurl}}assets/data/"
</script>
<script src="{{site.baseurl}}assets/js/rc_plots.js"></script>