---
layout: default
title: Research Services
---
{% include templates.html %}

<h2 id="dss">Data Science Services</h2>
<p>
    <span class="font-weight-bold">Data Science Services (DSS)</span> assists researchers in the Harvard community in overcoming obstacles at every stage of the research and publication process.
</p>

<!-- FIXME: FY24 should be parameterized eventually based on the latest year of data availableK -->
<h3>Overview FY24</h3>
<div id="dssOverview" class="row"></div>

<h3 id="consulting_services">Help requests</h3>
<div class="row">
    {% include card-d3.html grid_class = "col-md-6" title = "Total number of Help requests" div = "totalNumHelpRequests" %}
    {% include card-d3.html grid_class = "col-md-6" title = "Help Requests by Department (FY21 - FY24)" div = "helpRequestsByDepartment" %}
    {% include card-d3.html grid_class = "col-md-6" title = "Help Requests by Top 8 Departments Cumulatively" div = "helpRequestsByDepartmentCm" %}
    {% include card-d3.html grid_class = "col-md-6" title = "Help Requests by Type of Request (FY21 - FY24)" div = "helpRequestsByType" %}
</div>

<!--  Program on Survey Research -->

<!-- rapidPeer -->
<h2 id="ppr">rapidPeer</h2>
<p>
    The <span class="font-weight-bold">rapidPeer</span> program at Harvard’s Institute for Quantitative Social Science (IQSS) is designed to improve scholarship and speed its publication. rapidPeer provides Harvard University and Washington University in St. Louis scholars with constructive, anonymous peer review of their research documents (i.e., papers, grants, and pre-registration reports) by an outside scholar incentivize to participate, and with a fast turnaround (just four weeks on average).
</p>

<h3>rapidPeer Overview</h3>
<div class="row" id="pprOverview"></div>
<h3>rapidPeer Authors</h3>
<div class="row" id="pprAuthors"></div>


<script>
    path = "{{site.baseurl}}assets/data/"
    resize();
</script>
<script src="{{site.baseurl}}assets/js/plot.js"></script>
<script src="{{site.baseurl}}assets/js/dss_plots.js"></script>
<script src="{{site.baseurl}}assets/js/ppr_plots.js"></script>