---
layout: default
title: Research Computing
---

<h3>An overview of social science research computing at FAS in 2024 by department</h3>

<div class="row">
    {% include card.html title = "2024 FAS Social Science CPU Hours" div = "2024-fas-soc-rc-cpu-x-dept" %}
    {% include card.html title = "2024 FAS Social Science GPU Hours" div = "2024-fas-soc-rc-gpu-x-dept" %}
    {% include card.html title = "2024 FAS Social Science Jobs executed" div = "2024-fas-soc-rc-exec-x-dept" %}
    {% include card.html title = "2024 FAS Social Science PIs" div = "2024-fas-soc-rc-exec-x-dept" %}
</div>


<h3>Research computing in the social sciences at Harvard accross time</h3>

<div class="row">
    {% include card.html title = "FAS Social Science Research Computing Researchers by Department and Year" div = "fas-rc-soc-researcher-x-dept-x-year" %}
    {% include card.html title = "FAS Social Science Research Computing CPU hours by Department and Year" div = "fas-rc-soc-comptime-x-dept-x-year" %}
</div>


<script src="{{site.baseurl}}assets/js/plot.js"></script>
<script>
    path = "{{site.baseurl}}assets/data/"
</script>

<!-- <script src="{{site.baseurl}}assets/js/rc_plots.js"></script> -->