<nav class="main-header navbar navbar-expand-md navbar-light navbar-white" role="navigation">

    <div id="navbar-hamburger" class="nav-item navbar-toggle d-block d-md-none" data-toggle="collapse"
        data-target="#navbar-items">
        <a class="nav-link" role="button"><i class="fas fa-bars"></i></a>
    </div>

    <ul class="navbar-nav collapse navbar-collapse" id="navbar-items">

        {% for item in site.data.navigation %}
        <li class="nav-item d-sm-inline-block">
            <a href="{{site.baseurl}}{{ item.link }}" {% if page.url == item.link %}class="nav-link current" {% else %}class="nav-link"
                {% endif %}>{{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>

</nav>