<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">

    <div id="navbar-hamburger" class="nav-item navbar-toggle d-block d-md-none" data-toggle="collapse"
        data-target="#navbar-items">
        <a class="nav-link hamburger" role="button"><span class="fas fa-bars"></span></a>
    </div>

    <ul class="navbar-nav collapse navbar-collapse" id="navbar-items">

        {% for item in site.data.navigation %}
            {%if item.link == "./" %} 
                {% assign current_url = "/" %}
            {% else %}
                {% assign current_url = '/' | append: item.link %}
            {% endif %}
            <li class="nav-item d-sm-inline-block">
                <div class="menu-link">

                    <a href="{{ item.link }}" 
                    
                    {% if page.url == current_url %}
                        class="nav-link current"
                    {% else %}
                        class="nav-link" 
                    {% endif %}>
                    {{item.name}}
                </a>
                </div>
            </li>
            
        {% endfor %}
    </ul>

</nav>