<!-- used on main page -->
<template id="metrics-template">
    <div class="card border-primary mb-3">
        <div class="card-header group"></div>
        <div class="card-body">
            <p class="card-title metric"></p>
            <h1 class="card-value value"></h1>
            <p class="card-text unit"></p>
        </div>
    </div>
</template>


<!-- used on business operations page -->
<template id="iq-info-box">
    <div class="info-box-div col-sm-6 col-xs-12 col-md-6 col-lg-4 col-xl-3">
        <a class="info-url" href="#">
            <div class="info-box" style="max-height:90px;">
                <span class="info-box-icon">
                    <span class="fa fa-globe" aria-hidden="true"></span>
                </span>
                <div class="info-box-content">
                    <span class="info-box-group">Dataverse Worldwide</span>
                    <span class="info-box-value">60</span>
                    <p class="info-box-unit">Dataverse installations Worldwide</p>
                </div>
            </div>
        </a>
    </div>
</template>