@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Questrial&display=swap');

// IQSS settings
:root {
    --iqss-lighter-orange: #d16103; //original
    // --iqss-orange: #C35902;
    --iqss-orange: #B84D00;
    // --iqss-orange-lighter: #B65302;
    --iqss-dark-blue: #152844;
    --iqss-grey: #555555;
    --iqss-lighter-blue: #215990;
    --harvard-red: #A41034;
    --harvard-crimson: #A41034;
    --harvard-black: #000000;
    --harvard-dark-grey: #808285;
    --harvard-light-grey: #B6B6B6;
    --card-height: 160px;

    --blue: var(--iqss-dark-blue);
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: var(--harvard-red);
    --orange: var(--iqss-orange);
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #ffffff;
    --gray: var(--iqss-grey);
    --gray-dark: #343a40;
    --primary: var(--iqss-orange);
    --secondary: var(--iqss-dark-blue);
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --line-width: 4px;
}




// Overrides
body {
    font-family: 'Montserrat',
        Calibri,
        'Trebuchet MS',
        sans-serif !important;
    background-color: #fff;
}


.navbar-nav {
    width: 100%;
}

.info-box {
    min-height: var(--card-height) !important;
    max-height: var(--card-height);
    padding: 0 !important;
}

.info-box-content {
    padding-top: 12px !important;

    // margin-left: 100px;
}

.btn-primary {

    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {

    background-color: var(--iqss-lighter-orange);
    border-color: var(--iqss-lighter-orange);
}

.btn-primary:active {

    background-color: var(--iqss-lighter-blue);
    border-color: var(--iqss-lighter-blue);

}

.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:hover {

    background-color: var(--iqss-lighter-blue);
    border-color: var(--iqss-lighter-blue);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: var(--secondary);
    border-color: var(--secondary);
    // transform: translateY(2px);
}

/*Icon*/
.info-box-icon {
    width: 80px !important;
    // height: var(--card-height);
    font-size: 35px !important;
    line-height: var(--card-height);
    background: rgba(0, 0, 0, .2);
}



/* Title */
.info-box-text,
.info-box-unit {
    font-size: 0.8em !important;
    text-transform: unset;
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
    line-height: 1em;
    font-weight: normal;

}

.info-box-group,
.info-box-title {
    font-size: 1em !important;
    text-transform: unset;
    white-space: unset;
    overflow: unset;
    text-overflow: unset;
    line-height: 1em;

}


/* Metric */
.info-box-number,
.info-box-value {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 2em;
}



/* Unit */
.info-box-content>p {
    font-size: 0.9em;
    line-height: 1.5em;
    /* padding-left: 1em; */
}

.bg-iqss-orange {
    background-color: var(--iqss-orange) !important;
    color: white !important;
}

.bg-iqss-blue {
    background-color: var(--iqss-dark-blue) !important;
    color: white !important;
}

.bg-iqss-black {
    background-color: var(--iqss-grey) !important;
    color: white !important;
}

.bg-iqss-light-blue {
    background-color: var(--iqss-lighter-blue) !important;
    color: white !important;
}

.bg-harvard-red,
.bg-iqss-red {
    background-color: var(--harvard-red) !important;
    color: white !important;
}

.bg-iqss-red {
    background-color: var(--harvard-red) !important;
    color: white !important;
}


.bg-iqss-yellow,
.bg-iqss-aqua,
.bg-iqss-green,
.bg-iqss-navy,
.bg-iqss-teal,
.bg-iqss-olive,
.bg-iqss-lime,
.bg-iqss-fuchsia,
.bg-iqss-purple,
.bg-iqss-maroon {
    background-color: var(--harvard-dark-grey) !important;
    color: white !important;
}



.alert-info,
.bg-iqss-aqua,
.callout.callout-info,
.label-info,
.modal-info .modal-body {
    background-color: var(--iqss-lighter-blue) !important;
}

.content-wrapper {
    // background: #f4f6f9;
    background: #fff !important;
    // padding-top: 56px !important;
}

.main-header {
    border-bottom: none !important;
    height: unset;
}



/* Navigation styling: underline, thick underline for current items */
.nav-link {
    font-size: 1.2em;
    text-align: center;
    font-family: 'Questrial',
        Arial,
        Helvetica,
        sans-serif !important;
    border-bottom: var(--iqss-orange) 1px solid;

}

.current {
    color: var(--iqss-dark-blue) !important;
    border-bottom: var(--iqss-orange) 4px solid;
}

/* Don't underline hamburger menu */
.hamburger {
    border-bottom: none;
}

/* make sure all item have 100% height*/
.nav-item {
    align-self: stretch;

    // height: 100%;
}

// TODO: This is still not working on all browsers
// Works on Firefox and Chrome
// Doesn't work well on Safari and MS Edge.
.menu-link>a {
    min-height: 2em;
    max-height: 4em;
    height: 100% !important;
}


.nav-link {
    font-size: 1.1em;
    line-height: normal;
}

// Would be nice if the menu is fixed (needs tweaking in underlying CSSs)
// position: fixed;

h1,
h2,
h3,
h4 {
    font-family: 'Questrial',
        Arial,
        Helvetica,
        sans-serif !important;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}



h1 {
    font-size: 2rem !important;
    font-weight: bold;
}

h2 {
    font-size: 1.8rem;
    color: var(--iqss-dark-blue);
}

h2::after {
    content: ' ';
    width: 30px;
    height: 3px;
    display: block;
    margin: 18px 0 0 0;
    background: #d16103;
    margin-bottom: 1em;
}

h3 {
    color: var(--iqss-dark-blue)
}
@media print {

    h4 {
        page-break-inside: avoid;
        page-break-before: auto;
        // page-break-before: always;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        margin-top: 3.5rem;
    }



    h2 {
        page-break-before: always;
        page-break-after: avoid !important; //never is not available
        margin-bottom: 1rem;
        font-size: 3rem;
        margin-top: 3rem;
        color: var(--iqss-lighter-blue)

    }


    h4 {
        //     page-break-after: never !important;
        //     page-break-before: avoid;
        // }

        div {
            page-break-before: avoid;
        }

    }
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
// .navbar {
//     position: fixed !important;
//     top: 0;
//     width: 100%;
// }



.plot {
    min-height: 500px;
}

.viz {
    height: 300px;
}

// Example usage:
@media (min-width: 576px) {
    // chart styling
    // add more margin if screen is larger
    .viz {
            height: 500px;
            //width: 500px;
            margin: 1em 1em 2em 1em;
            padding: 1em;
    }
}

a {
    color: var(--iqss-lighter-blue); 
}

a:focus, a:hover {
    color: var(--iqss-dark-blue);
    text-decoration: underline;
}


#mapid {
    height: 100%;
    // width: 90%;
    max-height: 600px;
    min-height: 400px;
    // max-width: 980px;
    min-width: 350px;

}

/* Accessibility 'skip to main content' */
.skipnav {
    text-align: left;
}

.skipnav a {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skipnav a:focus,
.skipnav a:active {
    position: static;
    left: 0;
    width: auto;
    height: auto;
    overflow: visible;
    text-decoration: underline;
}


/* border color on the card*/
.card-iqss-primary {
    border-top: 3px solid var(--iqss-dark-blue);
}

.card-iqss-secondary {
    border-top: 3px solid var(--iqss-orange);
}

.card-iqss-tertiary {
    border-top: 3px solid var(--iqss-grey);
}


.card-iqss-title {
    font-size: 1.2em;
    color: var(--iqss-grey);

}

.card-image {
    object-fit: cover;
    height: 200px;
    border-radius: .25rem !important;
}


.card-bg-icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color: white;
    opacity: 0.5;
}

.card-img-title {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1.0;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.card-header-image {
    padding: 0 !important;

}

.card-primary:not(.card-outline)>.card-header {
    background-color: white;
    color: var(--iqss-orange);
    // border:;
}

// override bootstrap to align button on the bottom of the landing page
.card-body::after {
    content: unset;
}

.card-body {
    padding: unset;
    padding-right: 0.2rem;
}

.card-distribute-items{
    justify-content:space-between;
    display: flex; 
    flex-direction: column;
}

.card-text {
    padding: 1em;
}

// DSS
.d3plus_line {
    stroke-width: var(--line-width) !important;
}

#d3plus_graph_ylabel,
#d3plus_graph_xlabel {
    font-size: 16px !important;
}